[submodule "knowledge"]
	path = make/study
	url = https://github.com/alejoacelas/study.git
[submodule "tools"]
	path = make/tools
	url = https://github.com/alejoacelas/tools.git
[submodule "art"]
	path = make/art
	url = https://github.com/alejoacelas/art.git
[submodule "body"]
	path = self/body
	url = https://github.com/alejoacelas/body.git
[submodule "principles"]
	path = becoming/principles
	url = https://github.com/alejoacelas/principles.git
[submodule "writing"]
	path = make/writing
	url = https://github.com/alejoacelas/writing.git
[submodule "mind"]
	path = self/mind
	url = https://github.com/alejoacelas/mind.git
[submodule "friends"]
	path = friends/people
	url = https://github.com/alejoacelas/people.git
[submodule "travel"]
	path = friends/places
	url = https://github.com/alejoacelas/places.git
[submodule "stuff"]
	path = self/stuff
	url = https://github.com/alejoacelas/stuff.git
[submodule "priorities"]
	path = becoming/plans/priorities
	url = https://github.com/alejoacelas/priorities.git
[submodule "partner"]
	path = friends/partner
	url = https://github.com/alejoacelas/partner.git
[submodule "advice"]
	path = friends/advice
	url = https://github.com/alejoacelas/advice.git
